<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.CapacityMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.Capacity" >
    <id column="ca_uuid" property="caUuid" jdbcType="VARCHAR" />
    <result column="ca_scope" property="caScope" jdbcType="VARCHAR" />
    <result column="ca_year" property="caYear" jdbcType="VARCHAR" />
    <result column="ca_estimate" property="caEstimate" jdbcType="VARCHAR" />
    <result column="pros_uuid" property="prosUuid" jdbcType="VARCHAR" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    ca_uuid, ca_scope, ca_year, ca_estimate, pros_uuid
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from capacity
    where ca_uuid = #{caUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from capacity
    where ca_uuid = #{caUuid,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="com.stock.pojo.Capacity" >
    insert into capacity (ca_uuid, ca_scope, ca_year, 
      ca_estimate, pros_uuid)
    values (#{caUuid,jdbcType=VARCHAR}, #{caScope,jdbcType=VARCHAR}, #{caYear,jdbcType=VARCHAR}, 
      #{caEstimate,jdbcType=VARCHAR}, #{prosUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.Capacity" >
    insert into capacity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="caUuid != null" >
        ca_uuid,
      </if>
      <if test="caScope != null" >
        ca_scope,
      </if>
      <if test="caYear != null" >
        ca_year,
      </if>
      <if test="caEstimate != null" >
        ca_estimate,
      </if>
      <if test="prosUuid != null" >
        pros_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="caUuid != null" >
        #{caUuid,jdbcType=VARCHAR},
      </if>
      <if test="caScope != null" >
        #{caScope,jdbcType=VARCHAR},
      </if>
      <if test="caYear != null" >
        #{caYear,jdbcType=VARCHAR},
      </if>
      <if test="caEstimate != null" >
        #{caEstimate,jdbcType=VARCHAR},
      </if>
      <if test="prosUuid != null" >
        #{prosUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.Capacity" >
    update capacity
    <set >
      <if test="caScope != null" >
        ca_scope = #{caScope,jdbcType=VARCHAR},
      </if>
      <if test="caYear != null" >
        ca_year = #{caYear,jdbcType=VARCHAR},
      </if>
      <if test="caEstimate != null" >
        ca_estimate = #{caEstimate,jdbcType=VARCHAR},
      </if>
      <if test="prosUuid != null" >
        pros_uuid = #{prosUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where ca_uuid = #{caUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.Capacity" >
    update capacity
    set ca_scope = #{caScope,jdbcType=VARCHAR},
      ca_year = #{caYear,jdbcType=VARCHAR},
      ca_estimate = #{caEstimate,jdbcType=VARCHAR},
      pros_uuid = #{prosUuid,jdbcType=VARCHAR}
    where ca_uuid = #{caUuid,jdbcType=VARCHAR}
  </update>
</mapper>