<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.CompanyBulletinMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.CompanyBulletin" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, time, content, stock
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stock.pojo.CompanyBulletinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company_bulletin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from company_bulletin
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from company_bulletin
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.stock.pojo.CompanyBulletinExample" >
    delete from company_bulletin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stock.pojo.CompanyBulletin" >
    insert into company_bulletin (id, title, time, 
      content, stock)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{stock,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.CompanyBulletin" >
    insert into company_bulletin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="stock != null" >
        stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stock.pojo.CompanyBulletinExample" resultType="java.lang.Integer" >
    select count(*) from company_bulletin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company_bulletin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.stock != null" >
        stock = #{record.stock,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company_bulletin
    set id = #{record.id,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      stock = #{record.stock,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.CompanyBulletin" >
    update company_bulletin
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.CompanyBulletin" >
    update company_bulletin
    set title = #{title,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 2017年10月25日 -->
  <select id="selectSomeBulletin" parameterType="string" resultMap="BaseResultMap">
  	select title,time,id
  	from company_bulletin
  	where stock = #{stockNum}
  	group by title
  	order by time DESC
  	limit 0,8
  </select>
  
      <!-- 2017年10月25日 -->
  <select id="selectAllByStock" resultMap="BaseResultMap">
  	select distinct title,time,content,id
  	from company_bulletin 
  	where stock = #{stock}
  	order by time DESC
  	limit #{page.start}, #{page.pagesize}
  </select>
  
  <!-- 2017年10月25日  -->
   <select id="selectDetail" parameterType="string" resultMap="BaseResultMap">
  	select distinct title,time,content
  	from company_bulletin 
  	where id = #{stockId}
  </select>
  
  <!-- 2017年10月25日  -->
   <select id="selectAllByStockCount" parameterType="string" resultType="int">
  	select count(1)
  	from company_bulletin 
  	where stock = #{stockId}
  </select>
  
    <!-- 2017年10月26日  -->
   <select id="selectHuByStockCount"  resultType="int">
  	select count(1)
  	from company_bulletin 
  	where stock like '60%'
   </select>
  
   <!-- 2017年10月26日  -->
   <select id="selectShenByStockCount" resultType="int">
  	select count(1)
  	from company_bulletin 
  	where stock like '00%'
   </select>
   
   <!-- 2017年10月26日  -->
   <select id="selectHuStock" resultMap="BaseResultMap">
	   	select distinct title,time,content,id
	  	from company_bulletin 
	  	where stock like '60%'
	  	order by time DESC
	  	limit #{page.start}, #{page.pagesize}      
   </select>
   
   
     <!-- 2017年10月26日  -->
   <select id="selectShenStock" resultMap="BaseResultMap">
	   	select distinct title,time,content,id
	  	from company_bulletin 
	  	where stock like '00%'
	  	order by time DESC
	  	limit #{page.start}, #{page.pagesize}
   </select>
</mapper>