<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.CompanyDetailMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.CompanyDetail" >
    <id column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="company_cname" property="companyCname" jdbcType="VARCHAR" />
    <result column="company_ename" property="companyEname" jdbcType="VARCHAR" />
    <result column="list_market" property="listMarket" jdbcType="VARCHAR" />
    <result column="list_date" property="listDate" jdbcType="VARCHAR" />
    <result column="issue_price" property="issuePrice" jdbcType="VARCHAR" />
    <result column="master_underwriter" property="masterUnderwriter" jdbcType="VARCHAR" />
    <result column="establish_date" property="establishDate" jdbcType="VARCHAR" />
    <result column="register_capital" property="registerCapital" jdbcType="VARCHAR" />
    <result column="organization_type" property="organizationType" jdbcType="VARCHAR" />
    <result column="organization_form" property="organizationForm" jdbcType="VARCHAR" />
    <result column="company_tel" property="companyTel" jdbcType="VARCHAR" />
    <result column="secretaries_tel" property="secretariesTel" jdbcType="VARCHAR" />
    <result column="company_fax" property="companyFax" jdbcType="VARCHAR" />
    <result column="secretaries_fax" property="secretariesFax" jdbcType="VARCHAR" />
    <result column="company_mail" property="companyMail" jdbcType="VARCHAR" />
    <result column="secretaries_mail" property="secretariesMail" jdbcType="VARCHAR" />
    <result column="secretaries_name" property="secretariesName" jdbcType="VARCHAR" />
    <result column="company_url" property="companyUrl" jdbcType="VARCHAR" />
    <result column="post_code" property="postCode" jdbcType="VARCHAR" />
    <result column="infomation_url" property="infomationUrl" jdbcType="VARCHAR" />
    <result column="sname_history" property="snameHistory" jdbcType="VARCHAR" />
    <result column="register_add" property="registerAdd" jdbcType="VARCHAR" />
    <result column="work_add" property="workAdd" jdbcType="VARCHAR" />
    <result column="company_profile" property="companyProfile" jdbcType="VARCHAR" />
    <result column="business_scope" property="businessScope" jdbcType="VARCHAR" />
    <result column="stock_name" property="stockName" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    company_id, company_cname, company_ename, list_market, list_date, issue_price, master_underwriter, 
    establish_date, register_capital, organization_type, organization_form, company_tel, 
    secretaries_tel, company_fax, secretaries_fax, company_mail, secretaries_mail, secretaries_name, 
    company_url, post_code, infomation_url, sname_history, register_add, work_add, company_profile, 
    business_scope, stock_name, time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stock.pojo.CompanyDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from company_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from company_detail
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from company_detail
    where company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.stock.pojo.CompanyDetailExample" >
    delete from company_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stock.pojo.CompanyDetail" >
    insert into company_detail (company_id, company_cname, company_ename, 
      list_market, list_date, issue_price, 
      master_underwriter, establish_date, register_capital, 
      organization_type, organization_form, company_tel, 
      secretaries_tel, company_fax, secretaries_fax, 
      company_mail, secretaries_mail, secretaries_name, 
      company_url, post_code, infomation_url, 
      sname_history, register_add, work_add, 
      company_profile, business_scope, stock_name, 
      time)
    values (#{companyId,jdbcType=VARCHAR}, #{companyCname,jdbcType=VARCHAR}, #{companyEname,jdbcType=VARCHAR}, 
      #{listMarket,jdbcType=VARCHAR}, #{listDate,jdbcType=VARCHAR}, #{issuePrice,jdbcType=VARCHAR}, 
      #{masterUnderwriter,jdbcType=VARCHAR}, #{establishDate,jdbcType=VARCHAR}, #{registerCapital,jdbcType=VARCHAR}, 
      #{organizationType,jdbcType=VARCHAR}, #{organizationForm,jdbcType=VARCHAR}, #{companyTel,jdbcType=VARCHAR}, 
      #{secretariesTel,jdbcType=VARCHAR}, #{companyFax,jdbcType=VARCHAR}, #{secretariesFax,jdbcType=VARCHAR}, 
      #{companyMail,jdbcType=VARCHAR}, #{secretariesMail,jdbcType=VARCHAR}, #{secretariesName,jdbcType=VARCHAR}, 
      #{companyUrl,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{infomationUrl,jdbcType=VARCHAR}, 
      #{snameHistory,jdbcType=VARCHAR}, #{registerAdd,jdbcType=VARCHAR}, #{workAdd,jdbcType=VARCHAR}, 
      #{companyProfile,jdbcType=VARCHAR}, #{businessScope,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.CompanyDetail" >
    insert into company_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyCname != null" >
        company_cname,
      </if>
      <if test="companyEname != null" >
        company_ename,
      </if>
      <if test="listMarket != null" >
        list_market,
      </if>
      <if test="listDate != null" >
        list_date,
      </if>
      <if test="issuePrice != null" >
        issue_price,
      </if>
      <if test="masterUnderwriter != null" >
        master_underwriter,
      </if>
      <if test="establishDate != null" >
        establish_date,
      </if>
      <if test="registerCapital != null" >
        register_capital,
      </if>
      <if test="organizationType != null" >
        organization_type,
      </if>
      <if test="organizationForm != null" >
        organization_form,
      </if>
      <if test="companyTel != null" >
        company_tel,
      </if>
      <if test="secretariesTel != null" >
        secretaries_tel,
      </if>
      <if test="companyFax != null" >
        company_fax,
      </if>
      <if test="secretariesFax != null" >
        secretaries_fax,
      </if>
      <if test="companyMail != null" >
        company_mail,
      </if>
      <if test="secretariesMail != null" >
        secretaries_mail,
      </if>
      <if test="secretariesName != null" >
        secretaries_name,
      </if>
      <if test="companyUrl != null" >
        company_url,
      </if>
      <if test="postCode != null" >
        post_code,
      </if>
      <if test="infomationUrl != null" >
        infomation_url,
      </if>
      <if test="snameHistory != null" >
        sname_history,
      </if>
      <if test="registerAdd != null" >
        register_add,
      </if>
      <if test="workAdd != null" >
        work_add,
      </if>
      <if test="companyProfile != null" >
        company_profile,
      </if>
      <if test="businessScope != null" >
        business_scope,
      </if>
      <if test="stockName != null" >
        stock_name,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyCname != null" >
        #{companyCname,jdbcType=VARCHAR},
      </if>
      <if test="companyEname != null" >
        #{companyEname,jdbcType=VARCHAR},
      </if>
      <if test="listMarket != null" >
        #{listMarket,jdbcType=VARCHAR},
      </if>
      <if test="listDate != null" >
        #{listDate,jdbcType=VARCHAR},
      </if>
      <if test="issuePrice != null" >
        #{issuePrice,jdbcType=VARCHAR},
      </if>
      <if test="masterUnderwriter != null" >
        #{masterUnderwriter,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        #{establishDate,jdbcType=VARCHAR},
      </if>
      <if test="registerCapital != null" >
        #{registerCapital,jdbcType=VARCHAR},
      </if>
      <if test="organizationType != null" >
        #{organizationType,jdbcType=VARCHAR},
      </if>
      <if test="organizationForm != null" >
        #{organizationForm,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null" >
        #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="secretariesTel != null" >
        #{secretariesTel,jdbcType=VARCHAR},
      </if>
      <if test="companyFax != null" >
        #{companyFax,jdbcType=VARCHAR},
      </if>
      <if test="secretariesFax != null" >
        #{secretariesFax,jdbcType=VARCHAR},
      </if>
      <if test="companyMail != null" >
        #{companyMail,jdbcType=VARCHAR},
      </if>
      <if test="secretariesMail != null" >
        #{secretariesMail,jdbcType=VARCHAR},
      </if>
      <if test="secretariesName != null" >
        #{secretariesName,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null" >
        #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="infomationUrl != null" >
        #{infomationUrl,jdbcType=VARCHAR},
      </if>
      <if test="snameHistory != null" >
        #{snameHistory,jdbcType=VARCHAR},
      </if>
      <if test="registerAdd != null" >
        #{registerAdd,jdbcType=VARCHAR},
      </if>
      <if test="workAdd != null" >
        #{workAdd,jdbcType=VARCHAR},
      </if>
      <if test="companyProfile != null" >
        #{companyProfile,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stock.pojo.CompanyDetailExample" resultType="java.lang.Integer" >
    select count(*) from company_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update company_detail
    <set >
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyCname != null" >
        company_cname = #{record.companyCname,jdbcType=VARCHAR},
      </if>
      <if test="record.companyEname != null" >
        company_ename = #{record.companyEname,jdbcType=VARCHAR},
      </if>
      <if test="record.listMarket != null" >
        list_market = #{record.listMarket,jdbcType=VARCHAR},
      </if>
      <if test="record.listDate != null" >
        list_date = #{record.listDate,jdbcType=VARCHAR},
      </if>
      <if test="record.issuePrice != null" >
        issue_price = #{record.issuePrice,jdbcType=VARCHAR},
      </if>
      <if test="record.masterUnderwriter != null" >
        master_underwriter = #{record.masterUnderwriter,jdbcType=VARCHAR},
      </if>
      <if test="record.establishDate != null" >
        establish_date = #{record.establishDate,jdbcType=VARCHAR},
      </if>
      <if test="record.registerCapital != null" >
        register_capital = #{record.registerCapital,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationType != null" >
        organization_type = #{record.organizationType,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationForm != null" >
        organization_form = #{record.organizationForm,jdbcType=VARCHAR},
      </if>
      <if test="record.companyTel != null" >
        company_tel = #{record.companyTel,jdbcType=VARCHAR},
      </if>
      <if test="record.secretariesTel != null" >
        secretaries_tel = #{record.secretariesTel,jdbcType=VARCHAR},
      </if>
      <if test="record.companyFax != null" >
        company_fax = #{record.companyFax,jdbcType=VARCHAR},
      </if>
      <if test="record.secretariesFax != null" >
        secretaries_fax = #{record.secretariesFax,jdbcType=VARCHAR},
      </if>
      <if test="record.companyMail != null" >
        company_mail = #{record.companyMail,jdbcType=VARCHAR},
      </if>
      <if test="record.secretariesMail != null" >
        secretaries_mail = #{record.secretariesMail,jdbcType=VARCHAR},
      </if>
      <if test="record.secretariesName != null" >
        secretaries_name = #{record.secretariesName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyUrl != null" >
        company_url = #{record.companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.postCode != null" >
        post_code = #{record.postCode,jdbcType=VARCHAR},
      </if>
      <if test="record.infomationUrl != null" >
        infomation_url = #{record.infomationUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.snameHistory != null" >
        sname_history = #{record.snameHistory,jdbcType=VARCHAR},
      </if>
      <if test="record.registerAdd != null" >
        register_add = #{record.registerAdd,jdbcType=VARCHAR},
      </if>
      <if test="record.workAdd != null" >
        work_add = #{record.workAdd,jdbcType=VARCHAR},
      </if>
      <if test="record.companyProfile != null" >
        company_profile = #{record.companyProfile,jdbcType=VARCHAR},
      </if>
      <if test="record.businessScope != null" >
        business_scope = #{record.businessScope,jdbcType=VARCHAR},
      </if>
      <if test="record.stockName != null" >
        stock_name = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null" >
        time = #{record.time,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update company_detail
    set company_id = #{record.companyId,jdbcType=VARCHAR},
      company_cname = #{record.companyCname,jdbcType=VARCHAR},
      company_ename = #{record.companyEname,jdbcType=VARCHAR},
      list_market = #{record.listMarket,jdbcType=VARCHAR},
      list_date = #{record.listDate,jdbcType=VARCHAR},
      issue_price = #{record.issuePrice,jdbcType=VARCHAR},
      master_underwriter = #{record.masterUnderwriter,jdbcType=VARCHAR},
      establish_date = #{record.establishDate,jdbcType=VARCHAR},
      register_capital = #{record.registerCapital,jdbcType=VARCHAR},
      organization_type = #{record.organizationType,jdbcType=VARCHAR},
      organization_form = #{record.organizationForm,jdbcType=VARCHAR},
      company_tel = #{record.companyTel,jdbcType=VARCHAR},
      secretaries_tel = #{record.secretariesTel,jdbcType=VARCHAR},
      company_fax = #{record.companyFax,jdbcType=VARCHAR},
      secretaries_fax = #{record.secretariesFax,jdbcType=VARCHAR},
      company_mail = #{record.companyMail,jdbcType=VARCHAR},
      secretaries_mail = #{record.secretariesMail,jdbcType=VARCHAR},
      secretaries_name = #{record.secretariesName,jdbcType=VARCHAR},
      company_url = #{record.companyUrl,jdbcType=VARCHAR},
      post_code = #{record.postCode,jdbcType=VARCHAR},
      infomation_url = #{record.infomationUrl,jdbcType=VARCHAR},
      sname_history = #{record.snameHistory,jdbcType=VARCHAR},
      register_add = #{record.registerAdd,jdbcType=VARCHAR},
      work_add = #{record.workAdd,jdbcType=VARCHAR},
      company_profile = #{record.companyProfile,jdbcType=VARCHAR},
      business_scope = #{record.businessScope,jdbcType=VARCHAR},
      stock_name = #{record.stockName,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.CompanyDetail" >
    update company_detail
    <set >
      <if test="companyCname != null" >
        company_cname = #{companyCname,jdbcType=VARCHAR},
      </if>
      <if test="companyEname != null" >
        company_ename = #{companyEname,jdbcType=VARCHAR},
      </if>
      <if test="listMarket != null" >
        list_market = #{listMarket,jdbcType=VARCHAR},
      </if>
      <if test="listDate != null" >
        list_date = #{listDate,jdbcType=VARCHAR},
      </if>
      <if test="issuePrice != null" >
        issue_price = #{issuePrice,jdbcType=VARCHAR},
      </if>
      <if test="masterUnderwriter != null" >
        master_underwriter = #{masterUnderwriter,jdbcType=VARCHAR},
      </if>
      <if test="establishDate != null" >
        establish_date = #{establishDate,jdbcType=VARCHAR},
      </if>
      <if test="registerCapital != null" >
        register_capital = #{registerCapital,jdbcType=VARCHAR},
      </if>
      <if test="organizationType != null" >
        organization_type = #{organizationType,jdbcType=VARCHAR},
      </if>
      <if test="organizationForm != null" >
        organization_form = #{organizationForm,jdbcType=VARCHAR},
      </if>
      <if test="companyTel != null" >
        company_tel = #{companyTel,jdbcType=VARCHAR},
      </if>
      <if test="secretariesTel != null" >
        secretaries_tel = #{secretariesTel,jdbcType=VARCHAR},
      </if>
      <if test="companyFax != null" >
        company_fax = #{companyFax,jdbcType=VARCHAR},
      </if>
      <if test="secretariesFax != null" >
        secretaries_fax = #{secretariesFax,jdbcType=VARCHAR},
      </if>
      <if test="companyMail != null" >
        company_mail = #{companyMail,jdbcType=VARCHAR},
      </if>
      <if test="secretariesMail != null" >
        secretaries_mail = #{secretariesMail,jdbcType=VARCHAR},
      </if>
      <if test="secretariesName != null" >
        secretaries_name = #{secretariesName,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null" >
        company_url = #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        post_code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="infomationUrl != null" >
        infomation_url = #{infomationUrl,jdbcType=VARCHAR},
      </if>
      <if test="snameHistory != null" >
        sname_history = #{snameHistory,jdbcType=VARCHAR},
      </if>
      <if test="registerAdd != null" >
        register_add = #{registerAdd,jdbcType=VARCHAR},
      </if>
      <if test="workAdd != null" >
        work_add = #{workAdd,jdbcType=VARCHAR},
      </if>
      <if test="companyProfile != null" >
        company_profile = #{companyProfile,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        business_scope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.CompanyDetail" >
    update company_detail
    set company_cname = #{companyCname,jdbcType=VARCHAR},
      company_ename = #{companyEname,jdbcType=VARCHAR},
      list_market = #{listMarket,jdbcType=VARCHAR},
      list_date = #{listDate,jdbcType=VARCHAR},
      issue_price = #{issuePrice,jdbcType=VARCHAR},
      master_underwriter = #{masterUnderwriter,jdbcType=VARCHAR},
      establish_date = #{establishDate,jdbcType=VARCHAR},
      register_capital = #{registerCapital,jdbcType=VARCHAR},
      organization_type = #{organizationType,jdbcType=VARCHAR},
      organization_form = #{organizationForm,jdbcType=VARCHAR},
      company_tel = #{companyTel,jdbcType=VARCHAR},
      secretaries_tel = #{secretariesTel,jdbcType=VARCHAR},
      company_fax = #{companyFax,jdbcType=VARCHAR},
      secretaries_fax = #{secretariesFax,jdbcType=VARCHAR},
      company_mail = #{companyMail,jdbcType=VARCHAR},
      secretaries_mail = #{secretariesMail,jdbcType=VARCHAR},
      secretaries_name = #{secretariesName,jdbcType=VARCHAR},
      company_url = #{companyUrl,jdbcType=VARCHAR},
      post_code = #{postCode,jdbcType=VARCHAR},
      infomation_url = #{infomationUrl,jdbcType=VARCHAR},
      sname_history = #{snameHistory,jdbcType=VARCHAR},
      register_add = #{registerAdd,jdbcType=VARCHAR},
      work_add = #{workAdd,jdbcType=VARCHAR},
      company_profile = #{companyProfile,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=VARCHAR},
      stock_name = #{stockName,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
  
  <!-- 于花蕾新增 2017年10月19日 -->
  	<select id="companyDetail" parameterType="string" resultMap="BaseResultMap">
		select *
		from company_detail
		where stock_name like "%"#{beiDou}"%"
	</select>
  
</mapper>