<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.EnterpriseItemMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.EnterpriseItem" >
    <id column="enter_uuid" property="enterUuid" jdbcType="VARCHAR" />
    <result column="enter_name" property="enterName" jdbcType="VARCHAR" />
    <result column="enter_content" property="enterContent" jdbcType="VARCHAR" />
    <result column="enter_order" property="enterOrder" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    enter_uuid, enter_name, enter_content, enter_order
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from enterprise_item
    where enter_uuid = #{enterUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from enterprise_item
    where enter_uuid = #{enterUuid,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="com.stock.pojo.EnterpriseItem" >
    insert into enterprise_item (enter_uuid, enter_name, enter_content, 
      enter_order)
    values (#{enterUuid,jdbcType=VARCHAR}, #{enterName,jdbcType=VARCHAR}, #{enterContent,jdbcType=VARCHAR}, 
      #{enterOrder,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.EnterpriseItem" >
    insert into enterprise_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="enterUuid != null" >
        enter_uuid,
      </if>
      <if test="enterName != null" >
        enter_name,
      </if>
      <if test="enterContent != null" >
        enter_content,
      </if>
      <if test="enterOrder != null" >
        enter_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="enterUuid != null" >
        #{enterUuid,jdbcType=VARCHAR},
      </if>
      <if test="enterName != null" >
        #{enterName,jdbcType=VARCHAR},
      </if>
      <if test="enterContent != null" >
        #{enterContent,jdbcType=VARCHAR},
      </if>
      <if test="enterOrder != null" >
        #{enterOrder,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.EnterpriseItem" >
    update enterprise_item
    <set >
      <if test="enterName != null" >
        enter_name = #{enterName,jdbcType=VARCHAR},
      </if>
      <if test="enterContent != null" >
        enter_content = #{enterContent,jdbcType=VARCHAR},
      </if>
      <if test="enterOrder != null" >
        enter_order = #{enterOrder,jdbcType=VARCHAR},
      </if>
    </set>
    where enter_uuid = #{enterUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.EnterpriseItem" >
    update enterprise_item
    set enter_name = #{enterName,jdbcType=VARCHAR},
      enter_content = #{enterContent,jdbcType=VARCHAR},
      enter_order = #{enterOrder,jdbcType=VARCHAR}
    where enter_uuid = #{enterUuid,jdbcType=VARCHAR}
  </update>
  
  <select id="selectItemByOrder" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	* 
  	from enterprise_item
  	where enter_order = #{enterOrder,jdbcType=VARCHAR}
  </select>
  
  <select id="selectItemNum" resultType="java.lang.Integer">
  	select count(*)
  	from enterprise_item
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
  	select *
  	from enterprise_item
  	order by enter_order ASC
  </select>
  
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select *
  	from enterprise_item
  	where enter_name = #{enterName,jdbcType=VARCHAR}
  </select>
</mapper>