<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.ManufactureMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.Manufacture" >
    <id column="manu_uuid" property="manuUuid" jdbcType="VARCHAR" />
    <result column="manu_productline_has" property="manuProductlineHas" jdbcType="VARCHAR" />
    <result column="manu_productline_ing" property="manuProductlineIng" jdbcType="VARCHAR" />
    <result column="manu_yield" property="manuYield" jdbcType="VARCHAR" />
    <result column="manu_efficiency" property="manuEfficiency" jdbcType="VARCHAR" />
    <result column="manu_materialsupplier" property="manuMaterialsupplier" jdbcType="VARCHAR" />
    <result column="manu_fixedsupplier" property="manuFixedsupplier" jdbcType="VARCHAR" />
    <result column="manu_strategicsupplier" property="manuStrategicsupplier" jdbcType="VARCHAR" />
    <result column="manu_skilledworker" property="manuSkilledworker" jdbcType="VARCHAR" />
    <result column="manu_generalworker" property="manuGeneralworker" jdbcType="VARCHAR" />
    <result column="manu_practiceworker" property="manuPracticeworker" jdbcType="VARCHAR" />
    <result column="manu_value" property="manuValue" jdbcType="VARCHAR" />
    <result column="project_uuid" property="projectUuid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    manu_uuid, manu_productline_has, manu_productline_ing, manu_yield, manu_efficiency, 
    manu_materialsupplier, manu_fixedsupplier, manu_strategicsupplier, manu_skilledworker, 
    manu_generalworker, manu_practiceworker, manu_value, project_uuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from manufacture
    where manu_uuid = #{manuUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from manufacture
    where manu_uuid = #{manuUuid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.stock.pojo.Manufacture" >
    insert into manufacture (manu_uuid, manu_productline_has, manu_productline_ing, 
      manu_yield, manu_efficiency, manu_materialsupplier, 
      manu_fixedsupplier, manu_strategicsupplier, 
      manu_skilledworker, manu_generalworker, manu_practiceworker, 
      manu_value, project_uuid)
    values (#{manuUuid,jdbcType=VARCHAR}, #{manuProductlineHas,jdbcType=VARCHAR}, #{manuProductlineIng,jdbcType=VARCHAR}, 
      #{manuYield,jdbcType=VARCHAR}, #{manuEfficiency,jdbcType=VARCHAR}, #{manuMaterialsupplier,jdbcType=VARCHAR}, 
      #{manuFixedsupplier,jdbcType=VARCHAR}, #{manuStrategicsupplier,jdbcType=VARCHAR}, 
      #{manuSkilledworker,jdbcType=VARCHAR}, #{manuGeneralworker,jdbcType=VARCHAR}, #{manuPracticeworker,jdbcType=VARCHAR}, 
      #{manuValue,jdbcType=VARCHAR}, #{projectUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.Manufacture" >
    insert into manufacture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="manuUuid != null" >
        manu_uuid,
      </if>
      <if test="manuProductlineHas != null" >
        manu_productline_has,
      </if>
      <if test="manuProductlineIng != null" >
        manu_productline_ing,
      </if>
      <if test="manuYield != null" >
        manu_yield,
      </if>
      <if test="manuEfficiency != null" >
        manu_efficiency,
      </if>
      <if test="manuMaterialsupplier != null" >
        manu_materialsupplier,
      </if>
      <if test="manuFixedsupplier != null" >
        manu_fixedsupplier,
      </if>
      <if test="manuStrategicsupplier != null" >
        manu_strategicsupplier,
      </if>
      <if test="manuSkilledworker != null" >
        manu_skilledworker,
      </if>
      <if test="manuGeneralworker != null" >
        manu_generalworker,
      </if>
      <if test="manuPracticeworker != null" >
        manu_practiceworker,
      </if>
      <if test="manuValue != null" >
        manu_value,
      </if>
      <if test="projectUuid != null" >
        project_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="manuUuid != null" >
        #{manuUuid,jdbcType=VARCHAR},
      </if>
      <if test="manuProductlineHas != null" >
        #{manuProductlineHas,jdbcType=VARCHAR},
      </if>
      <if test="manuProductlineIng != null" >
        #{manuProductlineIng,jdbcType=VARCHAR},
      </if>
      <if test="manuYield != null" >
        #{manuYield,jdbcType=VARCHAR},
      </if>
      <if test="manuEfficiency != null" >
        #{manuEfficiency,jdbcType=VARCHAR},
      </if>
      <if test="manuMaterialsupplier != null" >
        #{manuMaterialsupplier,jdbcType=VARCHAR},
      </if>
      <if test="manuFixedsupplier != null" >
        #{manuFixedsupplier,jdbcType=VARCHAR},
      </if>
      <if test="manuStrategicsupplier != null" >
        #{manuStrategicsupplier,jdbcType=VARCHAR},
      </if>
      <if test="manuSkilledworker != null" >
        #{manuSkilledworker,jdbcType=VARCHAR},
      </if>
      <if test="manuGeneralworker != null" >
        #{manuGeneralworker,jdbcType=VARCHAR},
      </if>
      <if test="manuPracticeworker != null" >
        #{manuPracticeworker,jdbcType=VARCHAR},
      </if>
      <if test="manuValue != null" >
        #{manuValue,jdbcType=VARCHAR},
      </if>
      <if test="projectUuid != null" >
        #{projectUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.Manufacture" >
    update manufacture
    <set >
      <if test="manuProductlineHas != null" >
        manu_productline_has = #{manuProductlineHas,jdbcType=VARCHAR},
      </if>
      <if test="manuProductlineIng != null" >
        manu_productline_ing = #{manuProductlineIng,jdbcType=VARCHAR},
      </if>
      <if test="manuYield != null" >
        manu_yield = #{manuYield,jdbcType=VARCHAR},
      </if>
      <if test="manuEfficiency != null" >
        manu_efficiency = #{manuEfficiency,jdbcType=VARCHAR},
      </if>
      <if test="manuMaterialsupplier != null" >
        manu_materialsupplier = #{manuMaterialsupplier,jdbcType=VARCHAR},
      </if>
      <if test="manuFixedsupplier != null" >
        manu_fixedsupplier = #{manuFixedsupplier,jdbcType=VARCHAR},
      </if>
      <if test="manuStrategicsupplier != null" >
        manu_strategicsupplier = #{manuStrategicsupplier,jdbcType=VARCHAR},
      </if>
      <if test="manuSkilledworker != null" >
        manu_skilledworker = #{manuSkilledworker,jdbcType=VARCHAR},
      </if>
      <if test="manuGeneralworker != null" >
        manu_generalworker = #{manuGeneralworker,jdbcType=VARCHAR},
      </if>
      <if test="manuPracticeworker != null" >
        manu_practiceworker = #{manuPracticeworker,jdbcType=VARCHAR},
      </if>
      <if test="manuValue != null" >
        manu_value = #{manuValue,jdbcType=VARCHAR},
      </if>
      <if test="projectUuid != null" >
        project_uuid = #{projectUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where manu_uuid = #{manuUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.Manufacture" >
    update manufacture
    set manu_productline_has = #{manuProductlineHas,jdbcType=VARCHAR},
      manu_productline_ing = #{manuProductlineIng,jdbcType=VARCHAR},
      manu_yield = #{manuYield,jdbcType=VARCHAR},
      manu_efficiency = #{manuEfficiency,jdbcType=VARCHAR},
      manu_materialsupplier = #{manuMaterialsupplier,jdbcType=VARCHAR},
      manu_fixedsupplier = #{manuFixedsupplier,jdbcType=VARCHAR},
      manu_strategicsupplier = #{manuStrategicsupplier,jdbcType=VARCHAR},
      manu_skilledworker = #{manuSkilledworker,jdbcType=VARCHAR},
      manu_generalworker = #{manuGeneralworker,jdbcType=VARCHAR},
      manu_practiceworker = #{manuPracticeworker,jdbcType=VARCHAR},
      manu_value = #{manuValue,jdbcType=VARCHAR},
      project_uuid = #{projectUuid,jdbcType=VARCHAR}
    where manu_uuid = #{manuUuid,jdbcType=VARCHAR}
  </update>
</mapper>