<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.MarketingMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.Marketing" >
    <id column="maing_uuid" property="maingUuid" jdbcType="VARCHAR" />
    <result column="maing_way" property="maingWay" jdbcType="VARCHAR" />
    <result column="maing_type" property="maingType" jdbcType="VARCHAR" />
    <result column="maing_strategy" property="maingStrategy" jdbcType="VARCHAR" />
    <result column="maing_execute" property="maingExecute" jdbcType="VARCHAR" />
    <result column="maing_platform" property="maingPlatform" jdbcType="VARCHAR" />
    <result column="maing_ad_conversion" property="maingAdConversion" jdbcType="VARCHAR" />
    <result column="pro_uuid" property="proUuid" jdbcType="VARCHAR" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    maing_uuid, maing_way, maing_type, maing_strategy, maing_execute, maing_platform, 
    maing_ad_conversion, pro_uuid
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from marketing
    where maing_uuid = #{maingUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from marketing
    where maing_uuid = #{maingUuid,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="com.stock.pojo.Marketing" >
    insert into marketing (maing_uuid, maing_way, maing_type, 
      maing_strategy, maing_execute, maing_platform, 
      maing_ad_conversion, pro_uuid)
    values (#{maingUuid,jdbcType=VARCHAR}, #{maingWay,jdbcType=VARCHAR}, #{maingType,jdbcType=VARCHAR}, 
      #{maingStrategy,jdbcType=VARCHAR}, #{maingExecute,jdbcType=VARCHAR}, #{maingPlatform,jdbcType=VARCHAR}, 
      #{maingAdConversion,jdbcType=VARCHAR}, #{proUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.Marketing" >
    insert into marketing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="maingUuid != null" >
        maing_uuid,
      </if>
      <if test="maingWay != null" >
        maing_way,
      </if>
      <if test="maingType != null" >
        maing_type,
      </if>
      <if test="maingStrategy != null" >
        maing_strategy,
      </if>
      <if test="maingExecute != null" >
        maing_execute,
      </if>
      <if test="maingPlatform != null" >
        maing_platform,
      </if>
      <if test="maingAdConversion != null" >
        maing_ad_conversion,
      </if>
      <if test="proUuid != null" >
        pro_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="maingUuid != null" >
        #{maingUuid,jdbcType=VARCHAR},
      </if>
      <if test="maingWay != null" >
        #{maingWay,jdbcType=VARCHAR},
      </if>
      <if test="maingType != null" >
        #{maingType,jdbcType=VARCHAR},
      </if>
      <if test="maingStrategy != null" >
        #{maingStrategy,jdbcType=VARCHAR},
      </if>
      <if test="maingExecute != null" >
        #{maingExecute,jdbcType=VARCHAR},
      </if>
      <if test="maingPlatform != null" >
        #{maingPlatform,jdbcType=VARCHAR},
      </if>
      <if test="maingAdConversion != null" >
        #{maingAdConversion,jdbcType=VARCHAR},
      </if>
      <if test="proUuid != null" >
        #{proUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.Marketing" >
    update marketing
    <set >
      <if test="maingWay != null" >
        maing_way = #{maingWay,jdbcType=VARCHAR},
      </if>
      <if test="maingType != null" >
        maing_type = #{maingType,jdbcType=VARCHAR},
      </if>
      <if test="maingStrategy != null" >
        maing_strategy = #{maingStrategy,jdbcType=VARCHAR},
      </if>
      <if test="maingExecute != null" >
        maing_execute = #{maingExecute,jdbcType=VARCHAR},
      </if>
      <if test="maingPlatform != null" >
        maing_platform = #{maingPlatform,jdbcType=VARCHAR},
      </if>
      <if test="maingAdConversion != null" >
        maing_ad_conversion = #{maingAdConversion,jdbcType=VARCHAR},
      </if>
      <if test="proUuid != null" >
        pro_uuid = #{proUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where maing_uuid = #{maingUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.Marketing" >
    update marketing
    set maing_way = #{maingWay,jdbcType=VARCHAR},
      maing_type = #{maingType,jdbcType=VARCHAR},
      maing_strategy = #{maingStrategy,jdbcType=VARCHAR},
      maing_execute = #{maingExecute,jdbcType=VARCHAR},
      maing_platform = #{maingPlatform,jdbcType=VARCHAR},
      maing_ad_conversion = #{maingAdConversion,jdbcType=VARCHAR},
      pro_uuid = #{proUuid,jdbcType=VARCHAR}
    where maing_uuid = #{maingUuid,jdbcType=VARCHAR}
  </update>
</mapper>