<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.Organization" >
    <id column="organ_uuid" property="organUuid" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="register_fund" property="registerFund" jdbcType="VARCHAR" />
    <result column="register_place" property="registerPlace" jdbcType="VARCHAR" />
    <result column="organ_evalue" property="organEvalue" jdbcType="VARCHAR" />
    <result column="pro_uuid" property="proUuid" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    organ_uuid, company_name, company_type, register_fund, register_place, organ_evalue, 
    pro_uuid
  </sql>
 
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from organization
    where organ_uuid = #{organUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from organization
    where organ_uuid = #{organUuid,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="com.stock.pojo.Organization" >
    insert into organization (organ_uuid, company_name, company_type, 
      register_fund, register_place, organ_evalue, 
      pro_uuid)
    values (#{organUuid,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{companyType,jdbcType=VARCHAR}, 
      #{registerFund,jdbcType=VARCHAR}, #{registerPlace,jdbcType=VARCHAR}, #{organEvalue,jdbcType=VARCHAR}, 
      #{proUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.Organization" >
    insert into organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organUuid != null" >
        organ_uuid,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyType != null" >
        company_type,
      </if>
      <if test="registerFund != null" >
        register_fund,
      </if>
      <if test="registerPlace != null" >
        register_place,
      </if>
      <if test="organEvalue != null" >
        organ_evalue,
      </if>
      <if test="proUuid != null" >
        pro_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organUuid != null" >
        #{organUuid,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="registerFund != null" >
        #{registerFund,jdbcType=VARCHAR},
      </if>
      <if test="registerPlace != null" >
        #{registerPlace,jdbcType=VARCHAR},
      </if>
      <if test="organEvalue != null" >
        #{organEvalue,jdbcType=VARCHAR},
      </if>
      <if test="proUuid != null" >
        #{proUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.Organization" >
    update organization
    <set >
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyType != null" >
        company_type = #{companyType,jdbcType=VARCHAR},
      </if>
      <if test="registerFund != null" >
        register_fund = #{registerFund,jdbcType=VARCHAR},
      </if>
      <if test="registerPlace != null" >
        register_place = #{registerPlace,jdbcType=VARCHAR},
      </if>
      <if test="organEvalue != null" >
        organ_evalue = #{organEvalue,jdbcType=VARCHAR},
      </if>
      <if test="proUuid != null" >
        pro_uuid = #{proUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where organ_uuid = #{organUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.Organization" >
    update organization
    set company_name = #{companyName,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=VARCHAR},
      register_fund = #{registerFund,jdbcType=VARCHAR},
      register_place = #{registerPlace,jdbcType=VARCHAR},
      organ_evalue = #{organEvalue,jdbcType=VARCHAR},
      pro_uuid = #{proUuid,jdbcType=VARCHAR}
    where organ_uuid = #{organUuid,jdbcType=VARCHAR}
  </update>
</mapper>