<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.PolicyRelationMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.PolicyRelation" >
    <id column="polr_uuid" property="polrUuid" jdbcType="VARCHAR" />
    <result column="polr_name" property="polrName" jdbcType="VARCHAR" />
    <result column="polr_fund" property="polrFund" jdbcType="VARCHAR" />
    <result column="pro_uuid" property="proUuid" jdbcType="VARCHAR" />
    <result column="ps_uuid" property="psUuid" jdbcType="VARCHAR" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    polr_uuid, polr_name, polr_fund, pro_uuid, ps_uuid
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from policy_relation
    where polr_uuid = #{polrUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from policy_relation
    where polr_uuid = #{polrUuid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.stock.pojo.PolicyRelation" >
    insert into policy_relation (polr_uuid, polr_name, polr_fund, 
      pro_uuid, ps_uuid)
    values (#{polrUuid,jdbcType=VARCHAR}, #{polrName,jdbcType=VARCHAR}, #{polrFund,jdbcType=VARCHAR}, 
      #{proUuid,jdbcType=VARCHAR}, #{psUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.PolicyRelation" >
    insert into policy_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="polrUuid != null" >
        polr_uuid,
      </if>
      <if test="polrName != null" >
        polr_name,
      </if>
      <if test="polrFund != null" >
        polr_fund,
      </if>
      <if test="proUuid != null" >
        pro_uuid,
      </if>
      <if test="psUuid != null" >
        ps_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="polrUuid != null" >
        #{polrUuid,jdbcType=VARCHAR},
      </if>
      <if test="polrName != null" >
        #{polrName,jdbcType=VARCHAR},
      </if>
      <if test="polrFund != null" >
        #{polrFund,jdbcType=VARCHAR},
      </if>
      <if test="proUuid != null" >
        #{proUuid,jdbcType=VARCHAR},
      </if>
      <if test="psUuid != null" >
        #{psUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.PolicyRelation" >
    update policy_relation
    <set >
      <if test="polrName != null" >
        polr_name = #{polrName,jdbcType=VARCHAR},
      </if>
      <if test="polrFund != null" >
        polr_fund = #{polrFund,jdbcType=VARCHAR},
      </if>
      <if test="proUuid != null" >
        pro_uuid = #{proUuid,jdbcType=VARCHAR},
      </if>
      <if test="psUuid != null" >
        ps_uuid = #{psUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where polr_uuid = #{polrUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.PolicyRelation" >
    update policy_relation
    set polr_name = #{polrName,jdbcType=VARCHAR},
      polr_fund = #{polrFund,jdbcType=VARCHAR},
      pro_uuid = #{proUuid,jdbcType=VARCHAR},
      ps_uuid = #{psUuid,jdbcType=VARCHAR}
    where polr_uuid = #{polrUuid,jdbcType=VARCHAR}
  </update>
</mapper>