<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.RiskAnalysisMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.RiskAnalysis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stock_code" property="stockCode" jdbcType="VARCHAR" />
    <result column="stock_name" property="stockName" jdbcType="VARCHAR" />
    <result column="BETAweek100" property="betaweek100" jdbcType="VARCHAR" />
    <result column="BETAmonth24" property="betamonth24" jdbcType="VARCHAR" />
    <result column="BETAmonth60" property="betamonth60" jdbcType="VARCHAR" />
    <result column="annualized_return_week100" property="annualizedReturnWeek100" jdbcType="VARCHAR" />
    <result column="annualized_return_month24" property="annualizedReturnMonth24" jdbcType="VARCHAR" />
    <result column="annualized_return_month60" property="annualizedReturnMonth60" jdbcType="VARCHAR" />
    <result column="annualized_volatility_week100" property="annualizedVolatilityWeek100" jdbcType="VARCHAR" />
    <result column="annualized_volatility_month24" property="annualizedVolatilityMonth24" jdbcType="VARCHAR" />
    <result column="annualized_volatility_month60" property="annualizedVolatilityMonth60" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stock_code, stock_name, BETAweek100, BETAmonth24, BETAmonth60, annualized_return_week100, 
    annualized_return_month24, annualized_return_month60, annualized_volatility_week100, 
    annualized_volatility_month24, annualized_volatility_month60
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stock.pojo.RiskAnalysisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from risk_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from risk_analysis
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from risk_analysis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.stock.pojo.RiskAnalysisExample" >
    delete from risk_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stock.pojo.RiskAnalysis" >
    insert into risk_analysis (id, stock_code, stock_name, 
      BETAweek100, BETAmonth24, BETAmonth60, 
      annualized_return_week100, annualized_return_month24, 
      annualized_return_month60, annualized_volatility_week100, 
      annualized_volatility_month24, annualized_volatility_month60
      )
    values (#{id,jdbcType=INTEGER}, #{stockCode,jdbcType=VARCHAR}, #{stockName,jdbcType=VARCHAR}, 
      #{betaweek100,jdbcType=VARCHAR}, #{betamonth24,jdbcType=VARCHAR}, #{betamonth60,jdbcType=VARCHAR}, 
      #{annualizedReturnWeek100,jdbcType=VARCHAR}, #{annualizedReturnMonth24,jdbcType=VARCHAR}, 
      #{annualizedReturnMonth60,jdbcType=VARCHAR}, #{annualizedVolatilityWeek100,jdbcType=VARCHAR}, 
      #{annualizedVolatilityMonth24,jdbcType=VARCHAR}, #{annualizedVolatilityMonth60,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.RiskAnalysis" >
    insert into risk_analysis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stockCode != null" >
        stock_code,
      </if>
      <if test="stockName != null" >
        stock_name,
      </if>
      <if test="betaweek100 != null" >
        BETAweek100,
      </if>
      <if test="betamonth24 != null" >
        BETAmonth24,
      </if>
      <if test="betamonth60 != null" >
        BETAmonth60,
      </if>
      <if test="annualizedReturnWeek100 != null" >
        annualized_return_week100,
      </if>
      <if test="annualizedReturnMonth24 != null" >
        annualized_return_month24,
      </if>
      <if test="annualizedReturnMonth60 != null" >
        annualized_return_month60,
      </if>
      <if test="annualizedVolatilityWeek100 != null" >
        annualized_volatility_week100,
      </if>
      <if test="annualizedVolatilityMonth24 != null" >
        annualized_volatility_month24,
      </if>
      <if test="annualizedVolatilityMonth60 != null" >
        annualized_volatility_month60,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stockCode != null" >
        #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="betaweek100 != null" >
        #{betaweek100,jdbcType=VARCHAR},
      </if>
      <if test="betamonth24 != null" >
        #{betamonth24,jdbcType=VARCHAR},
      </if>
      <if test="betamonth60 != null" >
        #{betamonth60,jdbcType=VARCHAR},
      </if>
      <if test="annualizedReturnWeek100 != null" >
        #{annualizedReturnWeek100,jdbcType=VARCHAR},
      </if>
      <if test="annualizedReturnMonth24 != null" >
        #{annualizedReturnMonth24,jdbcType=VARCHAR},
      </if>
      <if test="annualizedReturnMonth60 != null" >
        #{annualizedReturnMonth60,jdbcType=VARCHAR},
      </if>
      <if test="annualizedVolatilityWeek100 != null" >
        #{annualizedVolatilityWeek100,jdbcType=VARCHAR},
      </if>
      <if test="annualizedVolatilityMonth24 != null" >
        #{annualizedVolatilityMonth24,jdbcType=VARCHAR},
      </if>
      <if test="annualizedVolatilityMonth60 != null" >
        #{annualizedVolatilityMonth60,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stock.pojo.RiskAnalysisExample" resultType="java.lang.Integer" >
    select count(*) from risk_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update risk_analysis
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stockCode != null" >
        stock_code = #{record.stockCode,jdbcType=VARCHAR},
      </if>
      <if test="record.stockName != null" >
        stock_name = #{record.stockName,jdbcType=VARCHAR},
      </if>
      <if test="record.betaweek100 != null" >
        BETAweek100 = #{record.betaweek100,jdbcType=VARCHAR},
      </if>
      <if test="record.betamonth24 != null" >
        BETAmonth24 = #{record.betamonth24,jdbcType=VARCHAR},
      </if>
      <if test="record.betamonth60 != null" >
        BETAmonth60 = #{record.betamonth60,jdbcType=VARCHAR},
      </if>
      <if test="record.annualizedReturnWeek100 != null" >
        annualized_return_week100 = #{record.annualizedReturnWeek100,jdbcType=VARCHAR},
      </if>
      <if test="record.annualizedReturnMonth24 != null" >
        annualized_return_month24 = #{record.annualizedReturnMonth24,jdbcType=VARCHAR},
      </if>
      <if test="record.annualizedReturnMonth60 != null" >
        annualized_return_month60 = #{record.annualizedReturnMonth60,jdbcType=VARCHAR},
      </if>
      <if test="record.annualizedVolatilityWeek100 != null" >
        annualized_volatility_week100 = #{record.annualizedVolatilityWeek100,jdbcType=VARCHAR},
      </if>
      <if test="record.annualizedVolatilityMonth24 != null" >
        annualized_volatility_month24 = #{record.annualizedVolatilityMonth24,jdbcType=VARCHAR},
      </if>
      <if test="record.annualizedVolatilityMonth60 != null" >
        annualized_volatility_month60 = #{record.annualizedVolatilityMonth60,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update risk_analysis
    set id = #{record.id,jdbcType=INTEGER},
      stock_code = #{record.stockCode,jdbcType=VARCHAR},
      stock_name = #{record.stockName,jdbcType=VARCHAR},
      BETAweek100 = #{record.betaweek100,jdbcType=VARCHAR},
      BETAmonth24 = #{record.betamonth24,jdbcType=VARCHAR},
      BETAmonth60 = #{record.betamonth60,jdbcType=VARCHAR},
      annualized_return_week100 = #{record.annualizedReturnWeek100,jdbcType=VARCHAR},
      annualized_return_month24 = #{record.annualizedReturnMonth24,jdbcType=VARCHAR},
      annualized_return_month60 = #{record.annualizedReturnMonth60,jdbcType=VARCHAR},
      annualized_volatility_week100 = #{record.annualizedVolatilityWeek100,jdbcType=VARCHAR},
      annualized_volatility_month24 = #{record.annualizedVolatilityMonth24,jdbcType=VARCHAR},
      annualized_volatility_month60 = #{record.annualizedVolatilityMonth60,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.RiskAnalysis" >
    update risk_analysis
    <set >
      <if test="stockCode != null" >
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null" >
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="betaweek100 != null" >
        BETAweek100 = #{betaweek100,jdbcType=VARCHAR},
      </if>
      <if test="betamonth24 != null" >
        BETAmonth24 = #{betamonth24,jdbcType=VARCHAR},
      </if>
      <if test="betamonth60 != null" >
        BETAmonth60 = #{betamonth60,jdbcType=VARCHAR},
      </if>
      <if test="annualizedReturnWeek100 != null" >
        annualized_return_week100 = #{annualizedReturnWeek100,jdbcType=VARCHAR},
      </if>
      <if test="annualizedReturnMonth24 != null" >
        annualized_return_month24 = #{annualizedReturnMonth24,jdbcType=VARCHAR},
      </if>
      <if test="annualizedReturnMonth60 != null" >
        annualized_return_month60 = #{annualizedReturnMonth60,jdbcType=VARCHAR},
      </if>
      <if test="annualizedVolatilityWeek100 != null" >
        annualized_volatility_week100 = #{annualizedVolatilityWeek100,jdbcType=VARCHAR},
      </if>
      <if test="annualizedVolatilityMonth24 != null" >
        annualized_volatility_month24 = #{annualizedVolatilityMonth24,jdbcType=VARCHAR},
      </if>
      <if test="annualizedVolatilityMonth60 != null" >
        annualized_volatility_month60 = #{annualizedVolatilityMonth60,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.RiskAnalysis" >
    update risk_analysis
    set stock_code = #{stockCode,jdbcType=VARCHAR},
      stock_name = #{stockName,jdbcType=VARCHAR},
      BETAweek100 = #{betaweek100,jdbcType=VARCHAR},
      BETAmonth24 = #{betamonth24,jdbcType=VARCHAR},
      BETAmonth60 = #{betamonth60,jdbcType=VARCHAR},
      annualized_return_week100 = #{annualizedReturnWeek100,jdbcType=VARCHAR},
      annualized_return_month24 = #{annualizedReturnMonth24,jdbcType=VARCHAR},
      annualized_return_month60 = #{annualizedReturnMonth60,jdbcType=VARCHAR},
      annualized_volatility_week100 = #{annualizedVolatilityWeek100,jdbcType=VARCHAR},
      annualized_volatility_month24 = #{annualizedVolatilityMonth24,jdbcType=VARCHAR},
      annualized_volatility_month60 = #{annualizedVolatilityMonth60,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
  		select *
  		from risk_analysis
  		
  </select>
</mapper>