<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stock.mapper.StockDetailMapper" >
  <resultMap id="BaseResultMap" type="com.stock.pojo.StockDetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="stock_id" property="stockId" jdbcType="VARCHAR" />
    <result column="stock_detail_id" property="stockDetailId" jdbcType="VARCHAR" />
    <result column="report_date" property="reportDate" jdbcType="VARCHAR" />
    <result column="stock_num" property="stockNum" jdbcType="VARCHAR" />
    <result column="stock_rate" property="stockRate" jdbcType="VARCHAR" />
    <result column="increase" property="increase" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stock_id, stock_detail_id, report_date, stock_num, stock_rate, increase
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stock.pojo.StockDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stock_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from stock_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from stock_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.stock.pojo.StockDetailExample" >
    delete from stock_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stock.pojo.StockDetail" >
    insert into stock_detail (id, stock_id, stock_detail_id, 
      report_date, stock_num, stock_rate, 
      increase)
    values (#{id,jdbcType=VARCHAR}, #{stockId,jdbcType=VARCHAR}, #{stockDetailId,jdbcType=VARCHAR}, 
      #{reportDate,jdbcType=VARCHAR}, #{stockNum,jdbcType=VARCHAR}, #{stockRate,jdbcType=VARCHAR}, 
      #{increase,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stock.pojo.StockDetail" >
    insert into stock_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="stockDetailId != null" >
        stock_detail_id,
      </if>
      <if test="reportDate != null" >
        report_date,
      </if>
      <if test="stockNum != null" >
        stock_num,
      </if>
      <if test="stockRate != null" >
        stock_rate,
      </if>
      <if test="increase != null" >
        increase,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="stockDetailId != null" >
        #{stockDetailId,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=VARCHAR},
      </if>
      <if test="stockNum != null" >
        #{stockNum,jdbcType=VARCHAR},
      </if>
      <if test="stockRate != null" >
        #{stockRate,jdbcType=VARCHAR},
      </if>
      <if test="increase != null" >
        #{increase,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stock.pojo.StockDetailExample" resultType="java.lang.Integer" >
    select count(*) from stock_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stock_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.stockId != null" >
        stock_id = #{record.stockId,jdbcType=VARCHAR},
      </if>
      <if test="record.stockDetailId != null" >
        stock_detail_id = #{record.stockDetailId,jdbcType=VARCHAR},
      </if>
      <if test="record.reportDate != null" >
        report_date = #{record.reportDate,jdbcType=VARCHAR},
      </if>
      <if test="record.stockNum != null" >
        stock_num = #{record.stockNum,jdbcType=VARCHAR},
      </if>
      <if test="record.stockRate != null" >
        stock_rate = #{record.stockRate,jdbcType=VARCHAR},
      </if>
      <if test="record.increase != null" >
        increase = #{record.increase,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stock_detail
    set id = #{record.id,jdbcType=VARCHAR},
      stock_id = #{record.stockId,jdbcType=VARCHAR},
      stock_detail_id = #{record.stockDetailId,jdbcType=VARCHAR},
      report_date = #{record.reportDate,jdbcType=VARCHAR},
      stock_num = #{record.stockNum,jdbcType=VARCHAR},
      stock_rate = #{record.stockRate,jdbcType=VARCHAR},
      increase = #{record.increase,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stock.pojo.StockDetail" >
    update stock_detail
    <set >
      <if test="stockId != null" >
        stock_id = #{stockId,jdbcType=VARCHAR},
      </if>
      <if test="stockDetailId != null" >
        stock_detail_id = #{stockDetailId,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        report_date = #{reportDate,jdbcType=VARCHAR},
      </if>
      <if test="stockNum != null" >
        stock_num = #{stockNum,jdbcType=VARCHAR},
      </if>
      <if test="stockRate != null" >
        stock_rate = #{stockRate,jdbcType=VARCHAR},
      </if>
      <if test="increase != null" >
        increase = #{increase,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stock.pojo.StockDetail" >
    update stock_detail
    set stock_id = #{stockId,jdbcType=VARCHAR},
      stock_detail_id = #{stockDetailId,jdbcType=VARCHAR},
      report_date = #{reportDate,jdbcType=VARCHAR},
      stock_num = #{stockNum,jdbcType=VARCHAR},
      stock_rate = #{stockRate,jdbcType=VARCHAR},
      increase = #{increase,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
<!-- 于花蕾新增 2017年11月24日 -->
	<select id="selectStockDetail" parameterType="string" resultMap="BaseResultMap">
		select report_date,stock_num,stock_rate,increase
		from stock_detail
		where stock_detail_id = #{stock_detail_id}
		order by report_date DESC
	</select>
</mapper>